@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,900;1,900&family=Zilla+Slab&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
